.env
.DS_Store
.cache
coverage
node_modules
packages/**/lib
packages/**/es
typescript/**/lib
typescript/**/es
typescript/*/src/**/*.d.ts
typescript/*/stories/**/*.d.ts
typescript-eval/**/lib
typescript-eval/**/es
typescript-eval/*/src/**/*.d.ts
typescript-eval/*/stories/**/*.d.ts
yarn-error.log
storybook-out
old
